<!-- se puede usar tmb el evento submit de HTML -->
<!--<form [formGroup]="profileForm" (submit)="handlerSubmit()">-->
<form [formGroup]="profileForm" (ngSubmit)="handlerSubmit()">
    <div class="control">
        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName">    
    </div>
    <div class="control">
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName">
    </div>
   
    <button type="submit">Enviar</button>
</form>
